<div class="container">
    <div class="row">
        <div class="col-12">
            <img class="mx-auto d-block" src="http://www.gifsanimados.org/data/media/1620/piolin-imagen-animada-0105.gif">
            <p class="text-center">Bienvenido a <b>memesparatias.com</b></p>
        </div>
    </div>
</div>